body {
    background-color: beige;
    color: rgb(0, 0, 0);
    font-family: "Bai-JamJuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(252, 252, 190);
    color: black;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}